.altar {
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 28px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

.table>.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
}

.td th {
    width: 31px;
}

/* Note: This causes the table to expand past page */
.tdBox {
    display: inline-block; 
    width: 20px;
    height: 23px;
    padding: 1px 3px; 
    border: 4px double white;
    background-color: #ddd;
    opacity: 0.4;
} 

.spanBox {
    display: inline-block; 
    width: 28px;
    height: 23px;
    padding: 1px 3px; 
    border: 4px double white;
    background-color:#ddd;
    margin-top: 2%;
}

.seatsBtn {
    margin-top: 1%;
}

.input {
    width: 14%;
    position: relative;
    display: inline-block;
    margin-right: 2%;
}

.greenColor{
    background-color: #5cb85c;
}

.redColor{
    background-color: #d9534f;
}

.resultTable td:nth-child(3){
    max-width:100%;
    word-break: break-all;
}

.mc-field-group , h2 , .indicates-required{
    color:whitesmoke;
}